*.class
*.ear
*.jar
*.war
*/target/
.DS_Store
dependency-reduced-pom.xml
velocity.log
/ExtensoJS/nbproject/private/
/Livraria-EJB/nbproject/
/web/nbproject/
/soap-web-client/nbproject/
/extenso-soap-web-client/nbproject/
/extenso-web/nbproject/