*.class

# Package Files #
*.jar
*.war
*.ear
/ExtensoWSRestfull/target/
/mavenproject1/target/
/ExtensoSOAP/target/
/ExtensoWS/target/
/ExtensoJNLP/target/
/ExtensoWSClient/target/
/WS/target/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Extenso/target/
/ExtensoGUI/target/
/ExtensoEJB/target/
