<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

    <body>
        <div class="container">
            <p>Converte um valor em seu extenso:</p>
            <p>Exemplos:</p>
            <ul>
                <li><a href="/v1/extenso/1024">/v1/extenso/1024</a></li>
                <li><a href="/v1/extenso/1.99">/v1/extenso/1.99</a></li>
                <li><a href="/v1/extenso/1000000">/v1/extenso/1000000</a></li>
            </ul>
        </div>
        <hr/>
        <div class="container">
            <p th:text="${extenso}">Resultado do extenso</p>
        </div>
    </body>
</html>
