<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Extenso</h1>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-info" role="alert">
                        <form action="#" th:action="@{/}" th:object="${bean}" method="POST">
                            <div class="form-group">
                                <label for="valor">Valor</label>
                                <input id="valor"
                                       type="text"
                                       class="form-control"
                                       pattern="\d*"
                                       aria-describedby="Valor a ser convertido"
                                       placeholder="Informe um valor"
                                       th:field="*{valor}">
                                <div class="container">
                                    <p aria-describedby="Extenso do valor"
                                       th:text="*{extenso}"/>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Converter</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-info" role="alert">
                        <p><b>Disponível também via REST</b></p>
                        <p>Exemplos:</p>
                        <ul>
                            <li><a href="/v1/extenso/1024">/v1/extenso/1024</a></li>
                            <li><a href="/v1/extenso/1.99">/v1/extenso/1.99</a></li>
                            <li><a href="/v1/extenso/1000000">/v1/extenso/1000000</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
